*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f8ff;
}

.about_container{
    width: 100%;
    padding: 50px 8%;
}


.about_container .about_contents{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
}

.about_contents .imageSection{
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.about_contents .imageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #6759ff;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infoSection h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block; 
    margin-bottom: 5px; 
    position: relative;
}
.infoSection h1::before{
content: '';
position: absolute;
width: 100%; 
height: 1px;
top: 110%;
Left: 0;
background-color: #aaabb0;
}

.infoSection h1::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: Opx;
    background-color: #787cb5;
}
.infoSection h2{
    font-family: helvetica;
    font-size: 20px; 
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    Letter-spacing: 1px;
}

.infoSection p{
    color: black; 
    font-size: 18px;
    Line-height: 1.2; 
    text-align: justify; 
    padding-bottom: 8px;
}

.personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.personalInfo dic{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalInfo div span{
    color: black;
    letter-spacing: 1px;
}

.infoSection button a{
    color: white;
    text-decoration: none;
}

.infoSection button{
    text-decoration: none;
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #787cb5;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
    
}

.infoSection button:hover{
    color: #787cb5;
    border-color: #aaabb0;
}

.skillSection{
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-gap: 10px 80px;
}

.skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: black;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.progress_bar{
    width: 100%;
    height: 13px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1pz solid #000;
    border-bottom: 1pz solid #444;
    border-radius: 19px;
}

.progress_line {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px 1px 2px #222222,
    1px 1px 2px #111111;
    border-radius: 15px;
}